$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import "sass-bootstrap/lib/bootstrap";

$fa-font-path: "/FarmFresh/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;    
    color: #111111;
    font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}



/* header stuff */ 

.header {
    text-align: center;
    font-size: 1.125em;
    font-weight: 300;

    h1 {
        font-family: 'Dancing Script', cursive;

        font-weight: 700;
        font-size: 3em;
        color: #00BB00;
    }

    p {
        margin-bottom: 30px;
        font-size: 0.875em;
    }
}

/* footer stuff */ 
.footer {
    margin-top: 30px;
    text-align: right;
}


/* img */ 
.img-centered {
    margin-left: auto; 
    margin-right: auto;
}

.img-bordered {
    border: 1px solid #e5e5e5;

}


/* general styles */ 
p {
    font-weight: 300;
    line-height: 1.375em;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



#list {

    a {
        color: #000;
    }

    i {
        display: none;
    }

    h4 {
        font-weight: 400;
    }

}


#details {

    a {
        color: #000;
    }

    i {
        display: none;
    }

    h5 {
        text-transform: uppercase;
        margin-top: 30px;
    }

    h2 {
        font-weight: 400;
        font-size: 1.75em;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 767px) {
    .footer p {
        text-align: center;
    }

    .header p {
        font-size: 0.75em;
    }

    h4 {
        text-align: center;
    }

    .recipe {
        margin-bottom: 30px;
    }

}

